@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo!</h1>
    <p>Esse é meu primeiro site com .NET Core MVC.</p>

    <img height="200" src="~/imagens/imagem.png">
</div>
