@model Carro

@{
    ViewData["Title"] = "Edição de Veículos";
}

<h1>Edição de veículos</h1>
<p>Preencha os dados corretamente para editar um veículo.</p>

<form method="POST" asp-action="Editar">
    <input type="hidden" asp-for="id">
    <p>
    <label>Marca:</label>
    <input asp-for="marca" autocomplete="off" required>
    </p>

    <p>
    <label>Ano:</label>
    <input asp-for="ano" autocomplete="off" required>
    </p>

    <p>
    <label>Cor:</label>
    <input asp-for="cor" autocomplete="off" required>
    </p>

    <p>
    <label>Valor:</label>
    <input asp-for="valor" autocomplete="off" required>
    </p>

    <input type="reset" value="Limpar">
    <input type="submit" value="Salvar">
    <br>
    <p>@ViewBag.Mensagem</p>
</form>